@charset "UTF-8";

@font-face {
font-family: 'malberg-heavy';
src: url('./fontes/malberg-trial/MalbergTrial-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, rgb(139, 56, 0), rgb(241, 218, 8));
    padding: 16px;
    width: 100vw;
    border-bottom: 1px solid black;
}

header > section > h1 {
    color: white;
    font-size: 45px;
    font-family: 'malberg-heavy';
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.bloco-mais {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 4px;

}

div.mais {
    font-size: 30px;
    text-align: center;
    margin: auto;
}

    footer {
        background-color: grey;
    color: white;
    padding: 16px 0;
    text-align: center;
    width: 100%;  
    }

    .rodape {
        max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    }

