@charset "UTF-8";

@font-face {
font-family: 'malberg-heavy';
src: url('./fontes/malberg-trial/MalbergTrial-Heavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(37, 36, 36);
}

header {
    background-image: linear-gradient(to bottom, rgb(255, 10, 10), rgb(95, 3, 3));
    padding: 16px;
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.849);
}

header > section > h1 {
    color: white;
    font-size: 45px;
    font-family: 'malberg-heavy';
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.bloco-mais {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 55px;
    width: 55px;
    border: 2px solid rgb(94, 94, 94);
    border-radius: 4px;
    background-color: gray;
}

section.bloco-mais > a {
    margin: auto;
    text-decoration: none;
    color: black;
}

section.bloco-mais > a > div.mais {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(37, 36, 36);
}

section.bloco-predefinicao {
    width: 75px;
    height: 75px;
    background-color: gray;
    border-radius: 4px;
}

footer {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 16px 0;
    text-align: center;
    width: 100%; 
    font-size: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.877);
}

.rodape {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.rodape .devs {
    text-decoration: none;
    font-size: 14px;
}

